

body {
  background-image: url(ABOUT/background_image.jpg);
  background-size: cover;
}


.ABOUT {
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  color: rgb(24, 15, 4);
  padding-top: 15px;
  padding-bottom: 10px;
  text-shadow: 2px 2px 5px rgb(86, 73, 58);
 

}


.desc {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: rgb(35, 23, 6);
  text-shadow: 2px 2px 5px rgb(86, 73, 58);
  margin-left: auto;
  margin-right: auto;
  width: 500px;

}


.back {
  display: block;
color: rgb(3, 1, 1);
background-color: rgb(240, 121, 47);
border-color: rgb(120, 56, 21);
border-width: 3px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
box-shadow: 10px 10px 10px 10px(rgb(33, 33, 33));
border-radius: 50px;
padding: 10px;
margin-top: 18px;
margin-left: 10px;
font-size: 19px;
transition: background-color 1s;
transition: padding 0.2s;
min-width: 100px;
}

.back:hover {
  display: block;
color: rgb(3, 1, 1);
background-color: rgb(255, 219, 197);
border-color: rgb(242, 151, 103);
border-width: 3px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
box-shadow: 10px 10px 10px 10px(rgb(33, 33, 33));
border-radius: 50px;
padding: 13px;
margin-top: 18px;
margin-left: 10px;
font-size: 19px;
transition: background-color 1s;
transition: padding 0.2s;
min-width: 100px;
}
